<div class="jumbotron">
  <h2 class="white left_margin">Welcome to DocGenerator</h2>
</div>
<div id="project_description">
  <h3>About this project</h3>
  <p>DocGenerator is designed to generate a PDF document for its users. Users can securely login in and access their documents at any time. DocGenerator was built as a Rails 4 project and utilizes Devise for authentication, Prawn for PDF generation and Paperclip to upload PDF documents to Amazon S3. Source code can be found here    <a href="https://github.com/lea3182/Doc_Generator"><i class="fa fa-github fa-lg"></i></a></p>
</div>
