<p>Hello <%= @user.first_name %>,</p>

<p>You have created a new document. Click on link to view your document as a PDF.</p>

<p><%= link_to "Your PDF document", @document.doc_pdf.url %></p>  



Thanks!
DocGenerator
